name: CI

on: 
  push:
    branches: [main]
  pull_request:
    branches: [main]
    
    
jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v2
      
      - name: Set up Python
        uses: actions/setup-python@v2
        with:
          python-version: '3.12'
      
      - name: Set up uv
        uses: astral-sh/setup-uv@v4
      
      - name: Sync dependencies with uv
        run: |
          uv sync --force
          uv pip install pytest
        
      - name: Run tests
        env:
          PYTHONPATH: ${{ github.workspace }}/mutli_doc_chat
          GROQ_API_KEY: dummy
          GEMINI_API_KEY: dummy
          LLM_PROVIDER: google
        run: |
          uv run pytest -q